## Краткое описание

11.09.2020 - 11.09.2020 было проведено тестирование установки IntelliJ IDEA

### На тестирование затрачено: 15мин

### В результате тестирования дефекты необнаружены

## Описание процесса тестирования

### В процессе тестирования использовались следующие артефакты:

1. [Описание задания](https://github.com/netology-code/javaqa-homeworks/tree/master/intro)

1. [Руководство по установке IntelliJ IDEA](https://github.com/netology-code/javaqa-homeworks/blob/master/intro/idea.md)



### В качестве тестовых данных использовались данные из [Руководство по установке IntelliJ IDEA](https://github.com/netology-code/javaqa-homeworks/blob/master/intro/idea.md)


### Тестирование производилось в следующем окружении:

* Windows 8.1 професиональная build 9600
* openjdk version "11.0.8" 2020-07-14
* OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
* OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.8+10, mixed mode)
